<!DOCTYPE html>
<html>
<head>
    <title>File Viewer</title>
</head>
<body>
    <h1>File Viewer</h1>
    <a href="/">Go Back</a>
    <ul>
        {% for file in files %}
            <li>
                {% if file.is_dir %}
                    <a href="/files?dir={{ current_dir }}/{{ file.name }}">{{ file.name }}/</a>
                {% else %}
                    <a href="/files?dir={{ current_dir }}/{{ file.name }}">{{ file.name }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>